.nav-desc {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  background-color: #ccd;
  padding: 15px 0;
}
.nav-desc h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: rgb(51, 51, 51);
}
.nav-desc > h2,
p {
  color: rgb(51, 51, 51);
  font-weight: 600;
}
