.img-div {
  width: 100%;
  height: 220px;
  text-align: center;
  clip-path: circle(33%);
}
/* .images {
  clip-path: circle(50%);
  width: 70%;
  height: 200px !important;
  margin: 8px auto;
} */
.img-div > img {
  height: 100%;
  width: 220px;
  margin: 15px 0;
}
.card-style {
  box-shadow: 2px 4px 6px gray;
}
